<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mappers/file/boardMapper.xml -->
<mapper namespace="com.web.root.mybatis.mypageBoard.MypageBoardMapper">

	<!-- 자유 게시판 -->
	<resultMap id="board" type="com.web.root.board.dto.BoardDTO">
		<id property="write_no" column="write_no"/> <!-- property는 DTO랑 column은 DB랑 같아야함  -->
		<result property="category" column="category"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="savedate" column="savedate"/>
		<result property="hit" column="hit"/>
		<result property="file_name" column="file_name"/>
		<result property="id" column="id"/>
		<result property="keyword" column="keyword"/>
		<result property="start" column="start"/>
		<result property="end" column="end"/>
	</resultMap>
	
	<!-- 프로그램 게시판 -->
	<resultMap  id="programBoard" type="com.web.root.board.dto.ProgramBoardDTO">
		<id property="write_no" column="write_no"/> <!-- property는 DTO랑 column은 DB랑 같아야함  -->
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="petKind" column="petKind"/>
		<result property="mateName" column="mateName"/>
		<result property="mateImage" column="mateImage"/>
		<result property="content" column="content"/>
		<result property="position1" column="position1"/>
		<result property="position2" column="position2"/>
		<result property="startDate" column="startDate"/>
		<result property="startTime" column="startTime"/>
		<result property="endDate" column="endDate"/>
		<result property="endTime" column="endTime"/>
		<result property="priceForProgram" column="priceForProgram"/>
		<result property="savedate" column="savedate"/>
		<result property="hit" column="hit"/>
		<result property="state" column="state"/>
		<result property="start" column="start"/>			<!-- 0615_윤희 추가: DB 컬럼 없음, 변수만 있음 -->
		<result property="end" column="end"/>				<!-- 0615_윤희 추가: DB 컬럼 없음, 변수만 있음 -->
	</resultMap>
	
	<!-- host 인증 보드 -->
	<resultMap id="hostCertify" type="com.web.root.member.dto.HostCertifyDTO">
		<id property="certify_no" column="certify_no"/> <!-- property는 DTO랑 column은 DB랑 같아야함  -->
		<result property="id" column="id"/>
		<result property="file_name" column="file_name"/>
		<result property="state" column="state"/>
		<result property="savedate" column="savedate"/>
	</resultMap>

	<!-- 성수 -->
	<resultMap type="com.web.root.board.dto.PaidProgramInfoDTO" id="paidProgram">
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="write_no" column="write_no"/>
		<result property="num" column="num"/>
		<result property="cancel_request" column="cancel_request"/>
	</resultMap>

	
	<!--  ======================== 윤희 시작 ==========================   -->
	
	<!-- (커뮤니티) 해당 아이디에 담겨있는 전체 글 수 -->
	<select id="mypageBoardAllCount" resultType="Integer"> 
		SELECT COUNT(*) FROM board WHERE id=#{id}
	</select>
	
	<!-- (커뮤니티) 해당 아이디 게시글 페이징 -->
	<select id="mypageBoardList" resultMap="board"> 
		SELECT B.* FROM 
		(SELECT ROWNUM rn, A.* FROM 
		(SELECT * FROM board where id=#{id} ORDER BY write_no DESC)A )B 
		WHERE rn BETWEEN #{start} and #{end}
	</select>
	
	<!-- (프로그램) 해당 아이디에 담겨있는 전체 글 수 -->
	<select id="mypageBoardProgramAllCount" resultType="Integer"> 
		SELECT COUNT(*) FROM programBoard WHERE id=#{id}
	</select>
	
	<!-- (프로그램) 해당 아이디 게시글 페이징 -->
	<select id="mypageBoardProgramList" resultMap="programBoard"> 
		SELECT B.* FROM 
		(SELECT ROWNUM rn, A.* FROM 
		(SELECT * FROM programBoard where id=#{id} ORDER BY write_no DESC)A )B 
		WHERE rn BETWEEN #{start} and #{end}
	</select>

	
	<!-- =============== 인증신청 =================================-->

	<!-- host 인증신청 -->
	<insert id="hostCertificationWriteSave">
		INSERT INTO hostCertify(certify_no, id, file_name)
		VALUES(certifyBoard_seq.NEXTVAL, #{id}, #{file_name})
	</insert>
	
	<!-- host 인증 신청하고 대기중 표시 G로 업데이트 -->
	<update id="hostCertificationCertified">
		UPDATE member SET certified='G' WHERE id=#{id}	
	</update>
	
	<!-- (관리자 로그인) 신청 전체 항목 갯수 가져오기 -->
	<select id="hostCertificationApplyCount" resultType="Integer"> 
		SELECT COUNT(*) FROM hostCertify
	</select>
	<!-- where state='apply' -->
	
	<!-- (관리자 로그인) 신청목록 전체 페이징 -->
	<select id="hostCertificationApplyList" resultMap="hostCertify"> 
		SELECT B.* FROM 
		(SELECT ROWNUM rn, A.* FROM 
		(SELECT * FROM hostCertify ORDER BY certify_no DESC)A )B 
		WHERE rn BETWEEN #{start} and #{end} 
	</select>

	<!-- (관리자 로그인) host 인증 신청 수락 -->
	<update id="hostCertificationOk">
		UPDATE hostCertify SET state='approve' WHERE certify_no=#{certify_no}
	</update>

	<!-- host 인증 신청이 수락되면 member 테이블 certified 값 변경 Y -->
	<update id="hostCertificationMemberOk">
		UPDATE member SET certified='Y' WHERE id=#{id}
	</update>
	
	<!-- (관리자 로그인) host 인증 신청 거절 -->
	<update id="hostCertificationNo">
		UPDATE hostCertify SET state='refusal' WHERE certify_no=#{certify_no}
	</update>
	
	<!-- host 인증 신청이 거절되면 member 테이블 certified 값 변경 N -->
	<update id="hostCertificationMemberNo">
		UPDATE member SET certified='N' WHERE id=#{id}
	</update>
	
	<!-- host 인증 신청이 거절되면 DB에서 file_name 이름 nan 변경 (임시로 갖고있기) -->
	<!-- <update id="hostCertificationDBfile_nameDelete">
		UPDATE hostCertify SET file_name='nan' WHERE id=#{id} and certify_no=#{certify_no}
	</update> -->
	
	<!--  ======================== 윤희 끝 ==========================   -->
	
	<!-- ======================================= 박성수 시작 ================================================= -->
	
	<select id="selectPaidProgramInfoCount" resultType="Integer">
		SELECT COUNT(*) FROM paidProgramInfo
	</select>	
	
	<select id="selectPaidProgramList" resultMap="paidProgram">
		SELECT B.* FROM 
		(SELECT ROWNUM rn, A.* FROM 
		(SELECT * FROM paidProgramInfo where id=#{id} ORDER BY write_no DESC)A )B 
		WHERE rn BETWEEN #{start} and #{end}
	</select>
	
	<update id="updateCancelRequest">
		UPDATE paidProgramInfo SET cancel_request = 'Y' where id = #{id} and write_no = #{num}
	</update>
	
	<!-- ======================================= 박성수 끝 ================================================= -->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>
