@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
body{
	background: #FFFFD3;
	color: black;
}
.container {
	border-left: 450px solid #C5FAD5;
	border-bottom: 100vh solid #C5FAD5;
	border-right: 400px solid transparent;
	position: absolute;
}
.main-landing .main_box{
	width: 100%;
	height: 80vh;
	border: 2px solid #A996DB;
	border-radius: 30px;
	backdrop-filter: blur(0px);
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-landing{
	display:flex;
	width: 100%;
	height: 100vh;
	justify-content: space-between;;
	align-items: center;
	padding: 20% 20% 20% 20%;
}
.main-landing .text-section{
	max-width: 1200px;
	position: absolute;
	top: 50px;
	left: 10%;
}
.text-section h2{
	font-size: 56px;
	text-transform: capitalize;
	margin:  -3px 0;
	margin-bottom: 10px;
	color: #201F20;
}
.text-section p{
	font-size: 16px;	
}
.main-landing .table-section{
	max-width: 1200px;
	min-width: 600px;
	position: absolute;
	top: 200px;
	left: 10%;
}
.table-section h3{
	font-size: 30px;
	text-transform: capitalize;
	margin-bottom: 5px;
	color: #201F20;
}
.table-section a{
	font-size: 20px;
	text-transform: capitalize;
}
.main-landing .table-member{
	width: 100%;
	position: absolute;
	top: 200px;
	left: 10%;
}
.under-section {
	position: absolute;
	top: 600px;
	left: 50%;
}