@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
}
/* 기본 바디 */
* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
body{
	background: #FFFFD3;
	color: black;
}
.container {
	border-left: 450px solid #C5FAD5;
	border-bottom: 100vh solid #C5FAD5;
	border-right: 400px solid transparent;
	position: absolute;
}
/* 홈페이지 바디 */
section{
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	width: 100%;
}
/* 회원정보,관리자정보 */
.form-box{
	max-width: 800px;
	width: 100%;
	padding: 25px 30px;
	border: 2px solid #A996DB;
	border-radius: 20px;
	backdrop-filter: blur(15px);
}
/* 타이틀 */
.form-box .title{
	font-size: 25px;
	font-weight: 500;
	position: relative;
	margin-bottom: 10px;
}
.form-box .title::before {
	content: ' ' ;
	position: absolute;
	left: 0px;
	bottom: 0;
	height: 3px;
	width: 120px;
	background: #A996DB;
}
/* 메인 */
.form-box form .user-details{
	display:  flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
/* 버튼 */
.form-box .button{
	margin-top: 10px;
	text-align: ;
}
.but_1 {
	width: 100%;
	height: 40px;
	border-radius: 40px;
	background: #A996DB;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	font-weight: 600;
	margin-top: 5px;
}
.but_2 {
	width: 100%;
	height: 40px;
	border-radius: 40px;
	background: #A996DB;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	font-weight: 600;
	margin-top: 5px;
	margin-bottom: 5px;
}
/* 아이디/등급/닉네임/휴대번호/이메일  */
.user-details .input-box .details{
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}
from .user-details .input-box{
	margin: 20px 0 12px 0;
	width: calc(100%/2 - 20px);
}
.user-details .input-box input{
	height: 35px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid #A996DB;
	padding-left: 10px;
	font-size:  15px;
	margin-bottom: 5px;
}
/* 주소 */
.user-details .input-box_addr .details_addr{
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}
from .user-details .input-box_addr{
	margin: 20px 0 12px 0;
	width: calc(100%/2 - 20px);
}

.user-details .input-box_addr input{
	height: 35px;
	width: 500px;
	outline: none;
	border-radius: 5px;
	border: 1px solid #A996DB;
	padding-left: 10px;
	font-size: 15px;
	margin-bottom: 5px;
}
.under-section{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.under-section a{
	font-size: 15px;
	font-weight: 50%;
	margin: 5px;
	border-radius: 50%;
	background: #A996DB;
	text-decoration: none;
}
.form-box-list .title{
	font-size: 25px;
	font-weight: 500;
	position: relative;
	margin-bottom: 10px;
}
.form-box-list .title::before {
	content: ' ' ;
	position: absolute;
	left: 0px;
	bottom: 0;
	height: 3px;
	width: 120px;
	background: #A996DB;
}
.form-box-list{
	max-width: 1400px;
	width: 100%;
	padding: 25px 30px;
	border: 2px solid #A996DB;
	border-radius: 20px;
	backdrop-filter: blur(15px);
}
/* 메뉴바 */
.menu {
  width: 100%;
  overflow: hidden;
  border-radius: 40px;
 background: #A996DB;
 margin-top: 10px;
 font-size: 1em;
 font-weight: 600;
}

.menu > li {
  width: 100%; /*20*5=100%*/
  float: left;
  text-align: center;
  line-height: 40px;
  border-radius: 40px;
  background: #A996DB;
  font-size: 1em;
  font-weight: 600;
    text-decoration-line: none;
}

.menu a {
  color: black;
  text-decoration-line: none;
}

.submenu > li {
  line-height: 50px;
  background-color: #A996DB;
}

.submenu {
  height: 0; /*ul의 높이를 안보이게 처리*/
  overflow: hidden;
}
.submenu_ > li {
  line-height: 50px;
  background-color: #A996DB;
}

.submenu_ {
  height: 0; /*ul의 높이를 안보이게 처리*/
  overflow: hidden;
}

.menu > li:hover {
  background-color: #A996DB;
  transition-duration: 1s;
}

.menu > li:hover .submenu {
  height: 150px; /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 1s;
}
.menu > li:hover .submenu_ {
  height: 50px; /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 1s;

}
a{
	text-decoration-line: none;
}