@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;;
	font-family: 'Poppins', sans-serif;
}
.header{
	position: fixed;
	top: 5px;
	left: 0;
	width: 100%;
	display: flex;
	border: 2px solid #A16F63;
	background: #A16F63;
	border-radius: 20px;
	justify-content: space-between;
	align-items: center;
	padding: 10px 2%;
	z-index: 20;
}
a{
	color: #201F20;
}
.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-weight: 700;
}
.logo i{
	font-size: 55px;
}
.logo span{
	font-size: 26px;
	cursor: pointer;
}
.navbar a{
	font-size: 20px;
	display: inline-block;
	margin-left: 35px;
	font-weight: 500;
	text-decoration: none;
	color: #020715; 
}
.navbar a.active{
	color: #020715; 
}
.navbar a:hover{
	color: #020715; 
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  height: 250px; /* 적당한 높이를 지정하세요 */
}
.sub-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
.section_main{
	margin-top: 200px;
	margin-bottom: 50px;
}
	
