@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;;
	font-family: 'Poppins', sans-serif;
}
body{
	background: #FFFFD3;
	color: black;
}
.container {
	border-left: 450px solid #C5FAD5;
	border-bottom: 100vh solid #C5FAD5;
	border-right: 400px solid transparent;
	position: absolute;
}
.home-landing{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-between;;
	align-items: center;
	padding: 70px 10% 0;
}
img{
	height: 600px;
	position: absolute;
	left: 0;
	bottom: 0; 
}
.home-landing .text-section{
	max-width: 800px;
	position: absolute;
	right: 150px;
}
.text-section h3{
	font-size: 25px;
	text-transform: capitalize;
	margin:  -3px 0;
	margin-bottom: 15px;
	margin-top: 5px;
	color: #201F20;
}
.text-section p{
	font-size: 16px;	
}
.text-section .btn{
	padding: 12px 28px;
	border-radius: 10px;
	font-weight: 600;
	outline: none;
	border: none;
	background: #A996DB;
	color: #FBF6F5;
	margin-top: 15px;
	letter-spacing: 1px;
	cursor: pointer;
	font-size: 14px;
}
.btn:hover{
	background: #FBF6F5;
	color: #A996DB;
	border: 1px solid #A996DB;
	box-shadow: 0 0 20px #FBF6F5;
}
ul{
	margin-top: 300px;
	float: right;
	list-style: none;
	max-width: 600px;
	position: absolute;
	right: 0;
}
li{
	margin-top: 25px;
	background: #A996DB;
	height: 10px;
	width: 400px;
	box-shadow: 0 0 5px #FBF6F5;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}
li:nth-child(2){
	background: #C5FAD5;
	box-shadow: 0 0 5px #FBF6F5;
	float: right;
	width: 280px;
}
.social-media{
	position: fixed;
	right: 50px;
	bottom: 100px;
}
.social-media a{
	display: inline-flex;;
	text-decoration: none;
	height: 40px;
	width: 40px;
	border: 2px solid #A996DB;
	border-radius: 50%;
	color: #A996DB;
	background: transparent;
	margin: 30px 10px 30px 0;
	justify-content:  center;
	align-items: center;
	font-size: 30px;
	transition: .3s;
}
.social-media a:hover{
	background: #A996DB;
	color: #FBF6F5;
	box-shadow: 0 0 20px #00a9e6;
}

