@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
section{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 95vh;
	width: 100%;
}
.form-box{
	position: relative;
	width: 400px;
	height: 450px;
	border: 2px solid #C19681;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
h2{
	font-size: 2em;
	color: #201F20;
	text-align: center;
}
.inputbox{
	position:  relative;
	margin: 30px 0;
	width: 310px;
	border-bottom:  2px solid #C19681;
}
.inputbox label{
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	color: #201F20;
	font-size: 1em;
	pointer-events: none;
	transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
	top: -5px;
}
.inputbox input{
	width: 100%;
	height: 50px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1em;
	padding: 0 35px 0 5px;
	color: #201F20;
}
.ion-icon{
	position: absolute;
	right: 8px;
	color: #201F20;
	font-size: 1.2em;
	top: 20px;
}
.forget{
	margin:  -15px 0 15px;
	font-size: .9em;
	color: #201F20;
	display: flex;
	justify-content: center;
}
.forget label input{
	margin-right: 3px;	
}
.forget label a{
	color: #201F20;
	text-decoration: none;
}
.forget label a:hover{
	text-decoration: underline;
}
.but_1 {
	width: 100%;
	height: 40px;
	border-radius: 40px;
	background: #C19681;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	font-weight: 600;
	margin-bottom: 10px;
}
.but_2{
	width: 100%;
	height: 40px;
	border-radius: 40px;
	background: #FAE100;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	font-weight: 600;
}
.register{
	font-size: .9em;
	color: #201F20;
	text-align: center;
	margin: 25px 0 10px;
}
.register p a{
	text-decoration: none;
	color: #201F20;
	font-weight: 600;
}
.register p a:hover{
	text-decoration: underline;
}
.select{
	margin-top: 25px;
	text-align: center;
}
.select a{
	margin-left: 10px;
	margin-right:  15px;
}
.main{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	text-align: center;
}
.main_1{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 40px;
	text-align: center;
}
.main_1 label{
	font-size: 25px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
.inputbox_result{
	position:  relative;
	margin: 30px 0;
	width: 310px;
}
.but_2_1{
	width: 100%;
	height: 40px;
	border-radius: 40px;
	background: #C19681;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	font-weight: 600;
}
.main_1_2{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}
.main_1_2 label{
	font-size: 20px;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}
