<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.root.mybatis.board.BoardMapper">

	<resultMap type="com.web.root.board.dto.BoardDTO" id="board">
		<id property="writeNo" column="write_no"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="saveDate" column="savedate"/>
		<result property="hit" column="hit"/>
		<result property="imageFileName" column="image_file_name"/>
		<result property="id" column="id"/>
	</resultMap>
	
	<resultMap type="com.web.root.board.dto.BoardRepDTO" id="reply">
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="write_group" column="write_group"/>
		<result property="write_date" column="write_date"/>
	</resultMap>
	
	<!-- 
	<select id="boardAllList" resultMap="board">
		SELECT * FROM mvc_board
	</select>
	-->
	<select id="boardAllList" resultMap="board">
		SELECT B.* FROM
		(SELECT ROWNUM rn, A.* FROM
		(SELECT * FROM mvc_board ORDER BY write_no DESC)A )B
		WHERE rn BETWEEN #{s} and #{e}
	</select>
	
	<select id="selectBoardCount" resultType="Integer">
		SELECT COUNT(*) FROM mvc_board
	</select>

	<insert id="writeSave">
		INSERT INTO mvc_board(write_no, id, title, content, image_file_name)
		VALUES(mvc_board_seq.nextval, #{id}, #{title}, #{content}, #{imageFileName})
	</insert>

	<select id="contentView" resultMap="board">
		SELECT * FROM mvc_board WHERE write_no=#{writeNo}
	</select>
	
	<update id="updateHit">
		UPDATE mvc_board SET hit=hit+1 WHERE write_no=#{writeNo}
	</update>

	<update id="modify">
		UPDATE mvc_board SET title=#{title}, content=#{content}, image_file_name=#{imageFileName} 
		WHERE write_no=#{writeNo}
	</update>

	<delete id="delete">
		DELETE FROM mvc_board WHERE write_no=#{writeNo}
	</delete>

	<insert id="addReply">
		INSERT INTO reply(id, title, content, write_group) 
		VALUES(#{id}, #{title}, #{content}, #{write_group})
	</insert>
	
	<select id="getRepList" resultMap="reply">
		SELECT * FROM reply WHERE write_group=#{write_group} 
		ORDER BY write_date DESC
	</select>

</mapper>



























